<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="err content">
            <h2>Oops, Page not found!</h2>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>